<div class="container itinerary">
	<div class="row">
		<div class="col-md-2 search hidden-xs">
			<div left-sidebar class="fixate" data-spy="affix" data-offset-top="65"></div>
		</div>

		<div ng-controller="listCtrl" class="col-md-8 view">
			<div class="day" ng-repeat="(dayIndex, day) in itin()">
				<span id="day{{$index + 1}}">Day {{$index + 1}}</span>
				<br><br>
				<div>
					<div class="place" ng-repeat="(placeIndex, place) in day.places">
						<div class="row">
							<div class="col-md-2">
								<h5>Start</h5>
								<p>{{place.starttime.format('h :mm A')}}</p>
								<p></p>

								<h5>Spend</h5>
								<p>{{getHourMinute(place.duration)}}</p>
							</div>
							<div class="col-md-10">
								<h3>{{place.name}}</h3>
								<div class="photo" style="background-image:url('{{place.photo}}')"></div>
							</div>
						</div>
						<div class="row" ng-if="place.showmore">
							<div class="col-md-2">
								<h5>Open</h5>
								<p>{{getOperatingHours(dayIndex, place.opening_hours)}}</p>
							</div>
							<div class="col-md-10">
								<p>{{place.description}}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-10 col-md-offset-2">
								<button class="btn" style="padding:0;border:0;" ng-click="toggleShowMore(dayIndex, placeIndex)">
									<i class="fa fa-inverse fa-2x fa-arrow-circle-o-up" ng-if="place.showmore"></i>
									<i class="fa fa-inverse fa-2x fa-arrow-circle-o-down" ng-if="!place.showmore"></i>
								</button>								
							</div>
						</div>
						<br>
						<hr ng-if="$last">
						<div class="row" ng-if="!$last">
							<div class="col-md-2">
								<h5>Travel</h5>
								<p>{{getHourMinute(place.traveltime)}}</p>
							</div>
							<div class="col-md-10">
								<div class="btn-group btn-group-justified" role="group">
									<a class="btn" ng-class="{selected: place.mode=='driving'}" ng-click="searchSingle(dayIndex, placeIndex, 'driving')">
										<i class="fa fa-car fa-inverse fa-lg"></i>
									</a>
									<a class="btn" ng-class="{selected: place.mode=='transit'}" ng-click="searchSingle(dayIndex, placeIndex, 'transit')">
										<i class="fa fa-subway fa-inverse fa-lg"></i>
									</a>
									<a class="btn" ng-class="{selected: place.mode=='bicycling'}" ng-click="searchSingle(dayIndex, placeIndex, 'bicycling')">
										<i class="fa fa-bicycle fa-inverse fa-lg"></i>
									</a>
									<a class="btn" ng-class="{selected: place.mode=='walking'}" ng-click="searchSingle(dayIndex, placeIndex, 'walking')">
										<i class="fa fa-male fa-inverse fa-lg"></i>
									</a>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>

		<div class="col-md-2 control hidden-xs scrl">
			<div right-sidebar></div>
		</div>
	</div>
</div>

<script>
	var timer = window.setInterval(function(){
		if($('.date').length > 0){
			$('.date').datepicker({
				autoclose: true,
				todayHightlight: true,
				orientation: "bottom auto",
				startDate: new Date()
			});

			$('.date').datepicker("setDate", new Date());

			window.clearInterval(timer)
		}
	}, 100)

	$('.date').datepicker("setDate", new Date());

	$('.fixate').affix({
		offset: {
			top: $('.fixate').offset().top
		}
	})
</script>