<form ng-submit="search(place, date, days, lifestyle)" ng-init="days=2;lifestyle='s';starttime='1000'">
	<label>Destination City</label>
	<input class="form-control" type="text" name="place" ng-model="place" placeholder="e.g. New York City">

	<label>Date</label>
	<input class="form-control date" type="text" name="date" ng-model="date">

	<label>Days</label>
	<input class="form-control" type="number" name="days" ng-model="days">

	<label>Interest</label>
	<select class="form-control" name="lifestyle" ng-model="lifestyle">
		<option value="s">Sightseeing</option>
		<option value="l">Low Cost</option>
		<option value="a">Action-Packed</option>
		<option value="f">Food Hunter</option>
		<option value="n">Nature Lover</option>
		<option value="h">Historical/Cultural</option>
	</select>

	<label>Start time</label>
	<select class="form-control" name="starttime" ng-model="starttime">
		<option value="0000">00:00</option>
		<option value="0100">01:00</option>
		<option value="0200">02:00</option>
		<option value="0300">03:00</option>
		<option value="0400">04:00</option>
		<option value="0500">05:00</option>
		<option value="0600">06:00</option>
		<option value="0700">07:00</option>
		<option value="0800">08:00</option>
		<option value="0900">09:00</option>
		<option value="1000">10:00</option>
		<option value="1100">11:00</option>
		<option value="1200">12:00</option>
		<option value="1300">13:00</option>
		<option value="1400">14:00</option>
		<option value="1500">15:00</option>
		<option value="1600">16:00</option>
		<option value="1700">17:00</option>
		<option value="1800">18:00</option>
		<option value="1900">19:00</option>
		<option value="2000">20:00</option>
		<option value="2100">21:00</option>
		<option value="2200">22:00</option>
		<option value="2300">23:00</option>

	</select>

	<br>

	<button class="btn" type="submit">
		<i class="fa fa-paper-plane"></i>
		Go
	</button>
</form>		
